<div class="row">
  <a routerLink="../lessons">Reload</a>
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/lessons', lesson.id]"
        [queryParams]="{allowEdit: lesson.id === 2 ? '0' : '1'}"
        class="list-group-item"
        *ngFor="let lesson of lessons">
        {{ lesson.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!--<app-edit-lesson></app-edit-lesson>-->
    <!--<hr>-->
    <!--<app-lesson></app-lesson>-->
  </div>
  <button class="btn btn-success" (click)="reload()">Reload</button>
</div>

